---
import { getIndex } from "@lib/contentParser";
import EntryLayout from "@components/home/EntryLayout.astro";
import type { HomeEntry } from "@/types";

const entry = (await getIndex("home")) as HomeEntry;
---
<head>
    <title>Nyx Website</title>
</head>
<EntryLayout entry={entry} />
